<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank-plan</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/bank-pagesStyle.css">
</head>
<body>
    <div class="nav">
        <div class="left-nav">
            <div class="logo">
                <img src="/logo.png" alt="no-logo">
            </div>
            <div class="company-name">
                <h1>FINWIN Digital Solutions (OPC) Pvt. Ltd.</h1>
            </div>
        </div>
        <div class="right-nav">
            <div class="get-in-touch">
                <h3>Get in touch</h3>
            </div>
        </div>

        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="box">
        <h1><%=bankData.loan_name%></h1>
        <h2>Eligibility</h2>
        <ul>
            <li>Individual over 18 years of age with steady source of income.</li>
        </ul>
        <h2>Rate of Interest</h2>
        <ul>
            <li><%=bankData.rate_of_interest%></li>
        </ul>
        <h2>Max loan tenure</h2>
        <ul>
            <li><%=bankData.loan_name%> provides the max loan tenure of <%=bankData.max_loan_tenure%> years.</li>
        </ul>
        <div class="btn">
            Get a conversation on call
        </div>
    </div>

    
    
</body>
</html>