<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finwin</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="style.css">
    <!-- Link swiper js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="nav">
        <div class="left-nav">
            <div class="logo">
                <img src="logo.png" alt="no-logo">
            </div>
            <div class="company-name">
                <h1>FINWIN Digital Solutions (OPC) Pvt. Ltd.</h1>
            </div>
        </div>
        <div class="right-nav">
            <div class="user">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="notification">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="get-in-touch">
                <h3>Get in touch</h3>
            </div>
        </div>

    </div>

    <div class="slider">
        <div class="slider-container">
            <div class="slider-wrapper">
                <div class="slide"><img src="images/image1.webp" alt="Image 1"></div>
                <div class="slide"><img src="images/image2.webp" alt="Image 2"></div>
                <div class="slide"><img src="images/image3.jpg" alt="Image 3"></div>
                <div class="slide"><img src="images/image4.jpg" alt="Image 4"></div>
                <div class="slide"><img src="images/image5.jpg" alt="Image 5"></div>
                <div class="slide"><img src="images/image6.jpg" alt="Image 6"></div>
                <div class="slide"><img src="images/image7.jpg" alt="Image 7"></div>
                <div class="slide"><img src="images/image8.jpg" alt="Image 8"></div>
                <div class="slide"><img src="images/image9.jpg" alt="Image 9"></div>
                <div class="slide"><img src="images/image10.jpg" alt="Image 10"></div>
            </div>
        </div>
    </div>
    
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>



    <div class="main">
        <div class="box-1">
            <div class="box-1-1">
                <div class="menu">
                    <div class="option">Home</div>
                    <div class="option">Home Loan Eligibility</div>
                    <div class="option">EMI Calculator</div>
                    <div class="option">Interest rates</div>
                    <div class="option">About us</div>
                    <div class="option">More</div>
                </div>
                <div class="image">
                    <h1>Image here</h1>
                </div>
            </div>
            <div class="box-1-2">
                <div class="offer">
                    <h1>What we offer</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi architecto, est voluptates reiciendis quam quod quas exercitationem iure, esse laborum repudiandae eveniet explicabo corrupti voluptatum illo dolorum eum nemo! Magnam asperiores numquam ipsam, eius possimus ad ipsum sunt officia saepe excepturi cumque corporis sed tenetur culpa quasi alias commodi. Maiores consequatur tempore vel error impedit laudantium fugiat recusandae hic enim nesciunt fuga explicabo voluptatibus quod, atque repudiandae consectetur aliquam iste eaque aliquid. Aut eaque natus, voluptatum illo fugit nesciunt quisquam saepe repellat, iste inventore libero excepturi corrupti fugiat ad earum iure voluptas cum placeat minima sunt illum officiis rem consequatur!</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus corrupti architecto odit molestiae, est delectus debitis asperiores atque tenetur. Modi veritatis nobis numquam eveniet, laborum officia repellat? Hic eius rerum corrupti dolores explicabo sunt minima modi amet, ipsam maxime reiciendis eum incidunt consequuntur error consectetur! Quam, nulla id! Suscipit nostrum, cumque neque autem perspiciatis minima. Laboriosam tempore modi a animi? Optio doloremque, minus sapiente consequuntur natus perspiciatis modi, id fuga ea itaque voluptate debitis animi.</p>

                </div>
                <div class="difference">
                    <h1>What makes us Different</h1>
                    <ul>
                        <li>Lowest Interest</li>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A praesentium aliquam, fuga quae, vero libero ea sit vitae culpa animi cum dolor adipisci sequi, eius debitis. Dolorum ratione consequatur tenetur.</p>
                        <li>Zero processing fee</li>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt hic nihil eveniet voluptas libero perspiciatis, et quia consectetur. Numquam vel ab dolorem aspernatur blanditiis saepe sequi facere. Quibusdam, sequi modi!</p>
                        <li>Dorr step services</li>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex fugiat, ipsum eveniet facilis incidunt aut recusandae rerum? Accusantium sed id vel, natus, accusamus eos, reprehenderit a modi facilis qui nulla.</p>
                    </ul>    
                </div>
            </div>
        </div>

        <!-- ---------------------------------Banks---------------------------------- -->
        <div class="heading">
            <h1>Banks</h1>
            <div class="line"></div>
        </div>
        <div class="box-2 swiper">
            <div class="box-2-wrapper">
                <div class="providers swiper-wrapper">

                    <div class="provider swiper-slide">
                        <img src="images/central-bank.png" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/bank-of-maharashtra.png" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/indian-bank.webp" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/SBI.jpg" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/hdfc-bank.webp" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/IDBI.avif" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/Axis-bank.jpg" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/bajaj-bank.jpg" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/adhar.png" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/pnb.png" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/DMIHF.webp" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                    <div class="provider swiper-slide">
                        <img src="images/shubham.avif" alt="bank image" class="bank-image">
                        <div class="view-btn">
                            <p>View Plans</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-slide-button swiper-button-prev"></div>
                <div class="swiper-slide-button swiper-button-next"></div>
            </div>
        </div>


        <!-- ------------------Credit Products----------------------------- -->

        <div class="heading">
            <h1>Credit Products</h1>
            <div class="line"></div>
        </div>
        <div class="box-3 credit-products">
            <div class="credit-product">
                <div class="content">
                    <h3>Home Loan</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, error?</p>
                    <div class="btn">
                        Check Eligibility →
                    </div>
                </div>
                <div class="image">
                    <img src="images/home-loan.png" alt="symbol">
                </div>
            </div>
            <div class="credit-product">
                <div class="content">
                    <h3>Loan Against Property</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, unde?</p>
                    <div class="btn">
                        Check Eligibility →
                    </div>
                </div>
                <div class="image">
                    <img src="images/loan-against-property.png" alt="symbol">
                </div>
            </div>
            <div class="credit-product">
                <div class="content">
                    <h3>Transfer Home Loan</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, neque.</p>
                    <div class="btn">
                        Reduce Your EMI →
                    </div>
                </div>
                <div class="image">
                    <img src="images/transfer-home-loan.png" alt="symbol">
                </div>
            </div>
            <div class="credit-product">
                <div class="content">
                    <h3>Personal Loan</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, nesciunt?</p>
                    <div class="btn">
                        Check Eligibility →
                    </div>
                </div>
                <div class="image">
                    <img src="images/personal-loan.png" alt="symbol">
                </div>
            </div>
            <div class="credit-product">
                <div class="content">
                    <h3>Business Loan</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, repellendus!</p>
                    <div class="btn">
                        Check Eligibility →
                    </div>
                </div>
                <div class="image">
                    <img src="images/business-loan.png" alt="symbol">
                </div>
            </div>
            <div class="credit-product">
                <div class="content">
                    <h3>Transfer Personal Loan</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, provident.</p>
                    <div class="btn">
                        Reduce your EMI →
                    </div>
                </div>
                <div class="image">
                    <img src="images/transfer-personal-loan.png" alt="symbol">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot-box">
            <h3>About us</h3>
            <p>Awards and recognition</p>
            <p>Office</p>
        </div>
        <div class="foot-box">
            <h3>Customer services</h3>
            <p>Service 1</p>
            <p>Service 2</p>
            <p>Service 3</p>
        </div>
        <div class="foot-box">
            <h3>Other</h3>
            <p>Career Opportunities</p>
            <p>Customer Service policy</p>
        </div>
    </div>
    <!-- Swiper js script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>