<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finwin</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="nav">
        <div class="left-nav">
            <div class="logo">
                <img src="logo.png" alt="no-logo">
            </div>
            <div class="company-name">
                <h1>FINWIN Digital Solutions (OPC) Pvt. Ltd.</h1>
            </div>
        </div>
        <div class="right-nav">
            <div class="user">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="notification">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="get-in-touch">
                <h3>Get in touch</h3>
            </div>
        </div>

    </div>

    <div class="main">
        <div class="box-1">
            <div class="box-1-1">
                <div class="menu">hi</div>
                <div class="image"></div>
            </div>
            <div class="box-1-2"></div>
        </div>
    </div>
</body>
</html>