.box-1{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.box-1-1{
    flex: 1;
    margin-right: 0;
}

.box-1-2{
    flex: 4;
}

.box-1-1 .menu{
    width: 80%;
    height: 20rem;
    margin: 1rem 0 1rem 2.5rem;
    background: linear-gradient(to bottom, #01024d, #1b1dc7);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#current{
    background-color: #bcd7f18c;
}

.box-1-1 .image{
    width: 80%;
    height: 15rem;
    background-color: #5C6C7D;
    margin: 1rem 0 1rem 2.5rem;
    border-radius: 10px;
    padding: 10px;
}

.box-1 .box-1-1 .menu .option{
    font-weight: 600;
    color: #ffffff;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.box-1 .box-1-1 .menu .option a{
    all: unset;
}

.box-1 .box-1-1 .menu .option:hover{
    background-color: #ffffff;
    color: #6F2A1C;
}

.table-box{
    width: 40rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    background: linear-gradient(to bottom, #01024d, #1b1dc7, #1b74c7);
    
}

.table-box h2{
    text-align: center;
    color: #ffffff;
}

.roi-table{
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
}

.roi-table .table-head{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2rem;
    
}

.roi-table .table-head .table-head-bank{
    flex: 2;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.roi-table .table-head .table-head-interest{
    flex: 1;
    padding-left: 0.5rem;
    border-bottom: 1px solid black;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.roi-table .table-data{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
    
}

.roi-table .table-data .table-data-bank{
    flex: 2;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.roi-table .table-data .table-data-interest{
    flex: 1;
    border-bottom: 1px solid black;
    padding: 0.5rem 0 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

.roi-table .table-data .table-data-interest a{
    padding-right: 0.5rem;
    cursor: pointer;
}

.footer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    background-color: #0e092a;
    color: #ffffff;
    justify-content: space-between;
    padding: 1rem;
}