* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f1f1f1;
}

.heading h1 {
    font-family: "Playwrite BE WAL", cursive;
    color: #1b1dc7;
    text-align: center;
    font-size: 1.5rem;
}

.main {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-around;
    padding: 2rem;
}

.login, .register {
    flex: 1;
    margin: 1rem;
    border: 1px solid #5494f3;
    background: linear-gradient(to bottom, #5494f3, #ffffff);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .user, .login .employee, .register .register-box {
    width: 80%;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #00246B;
    color: #ffffff;
    text-align: center;
}

.main .btn {
    width: 10rem;
    height: 3rem;
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem ;
}

.main .btn:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .heading h1 {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .main {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .login, .register {
        width: 90%;
        margin: 0.5rem;
        height: 40%;
    }

    .login .user, .login .employee, .register .register-box {
        width: 100%;
        margin: 1rem 0;
    }

    .main .btn {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .heading h1 {
        font-size: 1rem;
    }

    .main {
        padding: 1rem;
    }

    .login .user, .login .employee, .register .register-box {
        padding: 1rem;
    }

    .main .btn {
        width: 100%;
    }
}
